create a hostpot using nodemcu and connect to it...
open or closed wifi network
ip is 192.168.4.1
and there are many pagers you can create 
char HTML[] = "<html><body><form action='/action_page.php'>   First name:<br>  <input type='text' name='firstname' value=""><br>  Last name:<br><input type='text' name='lastname' value=""><br><br><input type='button' onclick='alert('Hello World!')' value='Click Me!'> <a href=\"http://192.168.4.1/1\">  submit </a></form></body></html> ";
//impor
void handleRoot() {
	server.send(200, "text/html",HTML );//impo
}

 void Page1()
 {
  server.send(200, "text/html", "<h1>now you are in 2</h1>");//impo
  }
  
  and 
  IPAddress myIP = WiFi.softAPIP();
	Serial.print("AP IP address: ");
	Serial.println(myIP);
	server.on("/", handleRoot);
  server.on("/1",Page1);//impo
	server.begin();
